//Colours
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//Carousel
$carousel-visible-products: 3;
$carousel-height: 50rem;
$carousel-bar-width: 10rem;
// $carousel-width: 50rem;
$carousel-width: calc(
  (#{$carousel-visible-products} * 50rem) + 2 *#{$carousel-bar-width}
);
$carousel-body-width: calc(#{$carousel-width} - 2 *#{$carousel-bar-width});
$carousel-product-width: calc(
  #{$carousel-body-width} / #{$carousel-visible-products}
);
