//Colours
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//Carousel

$carousel-height: 50rem;
$carousel-bar-width: 10rem;
$carousel-width: 50vw;
// $carousel-width: calc(
//   (#{$carousel-visible-products} * 25%) + 2 *#{$carousel-bar-width}
// );

$carousel-body-width: calc(#{$carousel-width} - 2 *#{$carousel-bar-width});
