.carousel {
  position: relative;
  margin: 0 auto;
  width: $carousel-width;
  background-color: $color-white;
  height: $carousel-height;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  overflow: hidden;

  &__body {
    position: absolute;
    display: relative;
    left: $carousel-bar-width;
    width: $carousel-body-width;
    background-color: $color-white;
    height: 65%;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 1s;

    // @for $i from 1 through 5 {
    //   div:nth-child(#{$i}) {
    //     left: calc(#{$carousel-product-width} * (#{$i} - 1));
    //   }
    // }
  }

  &__bar {
    &--left {
      background-color: $color-white;
      width: $carousel-bar-width;
      height: 100%;
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
    }

    &--right {
      background-color: $color-white;
      width: $carousel-bar-width;
      height: 100%;
      z-index: 10;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__product {
    position: absolute;
    background-color: $color-white;
    text-align: center;
    width: $carousel-product-width;
    top: 0;
    transition: all 1s;
    img {
      width: 60%;
      margin-bottom: 2.5rem;
    }
  }

  &__button {
    &,
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem;
      display: inline-block;
      border-radius: 10rem;
      transition: all 0.2s;
      position: relative;
      font-size: 2.5rem;
      position: absolute;
      top: 50%;
      z-index: 15;
      background-color: $color-white;
      color: $color-grey-dark-1;
      transform: translate(0, -50%);
    }

    &--left {
      left: 0%;
    }

    &--right {
      right: 0%;
    }
  }

  // &:hover &__body {
  //   // transform: translate(-40%, -50%);
  //   margin-left: calc(#{$carousel-product-width} * -1);
  // }
}
