body {
	font-family: 'Didact Gothic', sans-serif;
}
h3,
h4 {
	margin: 0;
}

.carousel {
	width: 90%;
	display: flex;
	margin: auto;
	overflow: hidden;
}

.carousel-item {
	display: block;
	height: auto;
	min-width: 300px;
	text-align: center;
}

.carousel-item-details {
	margin: 5px;
	padding: 20px 0px;
}

.brand-name {
	text-transform: uppercase;
}

.product-name {
	text-transform: capitalize;
}

.carousel-btn {
	display: flex;
	height: 200px;
	align-items: center;
	background-color: transparent;
	border-color: transparent;
}

.btn-previous {
	position: absolute;
	left: 0;
}
.btn-next {
	position: absolute;
	right: 0;
}
